# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3


env/
.env
.DS_Store
*.webm
*.wav

# Virtual env
venv/
.env
*.env

# DB、暫存與媒體
*.sqlite3
*.log
*.webm
*.wav
*.tmp
media/
staticfiles/

# VS Code
.vscode/

# Migrations
**/migrations/*.py[cod]
!**/migrations/__init__.py
